* {
    margin: 0;
    padding: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
html,
body {
    height: 100%;
}
body {
    background-image: url("images/burger-151421.svg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 70%;
}
main {
    max-width: 100%;
    min-width: 1140px;
    height: 100%;
    margin-top: 30px;

}

.headerBlock {
    position: relative;
    height: 50px;
    background-color: goldenrod;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.headerBlock__searchLine {
    width: 400px;
    height: 27px;
    margin-left: 40px;
    text-align: center;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: azure;
}
.headerBlock__blockBasket {
    position: relative;
}
.headerBlock__blockBasket input[type = "checkbox"]:checked ~ .headerBlock__blockBasket__bottomBlock {
    display: flex;

}
.headerBlock__blockBasket input[type = "checkbox"]:checked ~ .headerBlock__blockBasket__bottomBlock__decorArrow {
    display: block;
}

.headerBlock__blockBasket input[type = "checkbox"] {
    display: none;
}
.headerBlock__blockBasket__bottomBlock {
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    width: 250px;
    padding: 15px;
    background: darkorange;
    position: absolute;
    border-radius: 10px;
    top: 40px;
    right: 1px;
    display: none;
    z-index: 10;
}


.headerBlock__blockBasket__bottomBlock__decorArrow {
    display: none;
    width: 15px;
    height: 15px;
    background-color: darkorange;
    position: absolute;
    border-left: 2px solid black;
    border-top: 2px solid black;
    transform: rotate(45deg);
    top: 32px;
    left: 30px;
    z-index: 20;
}
.headerBlock__blockBasket__counter {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 80px;
    bottom: 13px;
    border: 2px solid black;
    background-color: azure;
    display: flex;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    z-index: 50;
}
.headerBlock__blockBasket__button {
    transition-duration: 0.2s;
    margin-right:  90px;
    padding: 7px;
    height: 30px;
    border-radius: 10px;
    background-color: maroon;
    outline: none;
    border: none;
    text-align: center;
    color: azure;
    cursor: pointer;
}
.headerBlock__basket:hover, .sortFromSmallestButton:hover, .sortFromBiggerButton:hover {
    background-color: brown;
}

.product__cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 230px;
    height: 100px;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 10px;
}
.product__imageCart {
    width: 90px;
    height: 80px;
}
.product__cart__delButton {
    cursor: pointer;
    outline: none;
    border: 2px solid black;
    background-color: transparent;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1px;
    font-weight: bold;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product {
    transition-duration: 0.3s;
    margin-bottom: 30px;
    height: 250px;
    width: 200px;
    background-color: rgba(255, 127, 80, 0.8);
    border-radius: 8px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product:hover {
    transform: scale(1.2);
}
.product__image {
    margin-top: 30px;
    margin-bottom: 10px;
    height: 125px;
    object-fit: cover;
    object-position: center;
}
.product__price {
    margin-top: 5px;
}

.product__button {
    padding-left: 5px;
    padding-right: 5px;
    outline: none;
    margin-top: 5px;
    background-color: crimson;
    border: 1px solid black;
    min-width: 70px;
    max-width: 140px;
    height: 25px;
    border-radius: 10px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.product__button:hover {
    background-color: sandybrown;
}

footer {
    max-width: 100%;
    min-width: 1140px;
    height: 75px;
    background-color: darkorange;
    display: flex;
    align-items: center;
    padding-left: 50px;
}