@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
@import url("https://pagecdn.io/lib/font-awesome/5.14.0/css/all.min.css");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font-family: inherit;
}

button {
  background: none;
  cursor: pointer;
}

input[type=submit] {
  cursor: pointer;
}

.container {
  min-width: 1140px;
  padding-left: calc((100% - 1140px) / 2);
  padding-right: calc((100% - 1140px) / 2);
}

.highlight {
  color: #f16d7f;
}

.hidden {
  display: none;
}

.logo {
  display: flex;
}
.logo__img {
  width: 59px;
  height: 51px;
}
.logo__title {
  margin-top: 15px;
  margin-left: 10px;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  letter-spacing: 0.68px;
  text-transform: uppercase;
}
.logo__titleLast {
  font-weight: 900;
}

.snippet {
  width: 260px;
  height: 360px;
  margin-bottom: 40px;
  position: relative;
}
.snippet:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.snippet__img {
  width: 260px;
  height: 280px;
  object-fit: cover;
}
.snippet__hover {
  width: 260px;
  height: 280px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(58, 56, 56, 0.8);
  display: none;
  justify-content: center;
}
.snippet:hover .snippet__hover {
  display: flex;
}

.snippet__addToCart {
  height: 40px;
  margin-top: 98px;
  padding: 0 13px 0 43px;
  background: url("../../assets/img/cart-white.svg") no-repeat center left 12px;
  border: 1px solid #ffffff;
  z-index: 1;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
}
.snippet__addToCart:hover {
  background: url("../../assets/img/cart-white.svg") no-repeat center left 12px, rgba(255, 255, 255, 0.1);
}
.snippet__addToCart:active {
  background: url("../../assets/img/cart-white.svg") no-repeat center left 12px, rgba(255, 255, 255, 0.3);
}
.snippet__caption {
  padding: 14px;
  text-align: left;
  text-transform: uppercase;
}
.snippet__name {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
}
.snippet__price {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #f16d7f;
}
.snippet__filler {
  width: 260px;
  height: 0;
}

.header__top {
  height: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.header__left {
  display: flex;
}
.header__search {
  border-radius: 3px;
  overflow: hidden;
  height: 36px;
  border: 1px solid #e6e6e6;
  margin-top: 6px;
  margin-left: 35px;
  display: flex;
}
.header__browse {
  height: 100%;
  padding: 0 14px 0 14px;
  background: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.35px;
}
.header__browseCaret {
  margin-left: 8px;
  color: #838383;
}
.header__searchForm {
  display: flex;
}
.header__searchBox {
  height: 100%;
  border-left: #e8e8e8 1px solid;
  border-right: #e8e8e8 1px solid;
  border-top: 0;
  border-bottom: 0;
  padding: 0 14px;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.35px;
}
.header__searchBox::placeholder {
  color: #a4a4a4;
}
.header__searchBtn {
  height: 36px;
  width: 36px;
  border: 0;
  color: #a4a4a4;
}
.header__right {
  display: flex;
  position: relative;
}
.header__cart {
  background: url("../../assets/img/cart.svg") no-repeat center;
  width: 40px;
  height: 40px;
  margin-top: 4px;
  margin-right: 26px;
  transition: transform 0.1s;
}
.header__cart:hover {
  transform: scale(1.3);
}
.header__cart:active {
  background: url("../../assets/img/cart.svg") no-repeat center, rgba(0, 0, 0, 0.1);
}
.header__myAccount {
  margin-top: 6px;
  height: 38px;
  padding: 0 19px;
  background: #f16d7f;
  line-height: 38px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.38px;
}
.header__myAccountCaret {
  margin-left: 8px;
}
.header__menu {
  border-top: 1px solid #ececec;
  min-width: 1140px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.header__menuItem {
  height: 44px;
  line-height: 44px;
  padding: 0 24px;
}
.header__menuItem:hover {
  border-top: 3px solid transparent;
  border-bottom: 3px solid #f16d7f;
}
.header__menuItem:active {
  color: #f16d7f;
}

.cartPopup {
  width: 220px;
  padding: 6px 20px 20px 20px;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  background-color: #ffffff;
  position: absolute;
  top: 50px;
  left: -14px;
}
.cartPopup__items {
  list-style-type: none;
}
.cartPopup__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ededed;
  padding: 16px 0;
}
.cartPopup__itemImg {
  width: 72px;
  height: 85px;
  object-fit: cover;
}
.cartPopup__itemDetails {
  flex-grow: 1;
  margin: 0 15px;
  height: 85px;
}
.cartPopup__itemName {
  margin-top: 10px;
  color: #222222;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
}
.cartPopup__itemPrice {
  margin-top: 10px;
  color: #f16d7f;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.cartPopup__itemRemove {
  width: 15px;
  border: none;
  color: #c0c0c0;
  text-align: center;
}
.cartPopup__itemRemove:hover {
  color: #222222;
}
.cartPopup__itemRemove:active {
  transform: scale(0.9);
}
.cartPopup__total {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.cartPopup__checkout {
  display: block;
  height: 50px;
  margin-top: 10px;
  border: 1px solid #f16d7f;
  color: #f16d7f;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: transform 0.07s;
}
.cartPopup__checkout:hover {
  background-color: #f16d7f;
  color: white;
}
.cartPopup__checkout:active {
  transform: scale(0.95);
}
.cartPopup__goToCart {
  display: block;
  height: 50px;
  margin-top: 10px;
  border: 1px solid #eaeaea;
  color: #4a4a4a;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: transform 0.07s;
}
.cartPopup__goToCart:hover {
  background-color: #eaeaea;
}
.cartPopup__goToCart:active {
  transform: scale(0.95);
}

.breadcrumbs {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f3f4;
}
.breadcrumbs__title {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}
.breadcrumbs__links {
  color: #636363;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}
.breadcrumbs__linkCurrent {
  color: #f16d7f;
  font-weight: 700;
}

.footerTop {
  height: 438px;
  display: flex;
  background-image: url("../../assets/img/footer.jpg");
  background-size: cover;
}
.footerTop__left {
  width: 50%;
  height: 100%;
}
.footerTop__testimonial {
  margin-top: 111px;
  display: flex;
}
.footerTop__testimonialPhoto {
  width: 83px;
  height: 83px;
  margin-right: 28px;
  object-fit: cover;
}
.footerTop__testimonialText {
  margin-top: 12px;
  color: #222222;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  letter-spacing: 0.2px;
}
.footerTop__testimonialName {
  margin-top: 19px;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
}
.footerTop__testimonialLoc {
  color: #222222;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 0.3px;
}
.footerTop__testimonialLinks {
  margin-top: 40px;
  margin-left: 114px;
  display: flex;
}
.footerTop__testimonialLink {
  display: inline-block;
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
}
.footerTop__testimonialLink:not(:last-child) {
  margin-right: 13px;
}
.footerTop__testimonialLinkCurrent {
  background-color: #f16d7f;
}
.footerTop__right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.footerTop__subscribe {
  margin-top: 148px;
  text-align: center;
}
.footerTop__subscribeTitle, .footerTop__subscribeSubtitle {
  color: #222222;
  font-weight: 400;
  text-transform: uppercase;
}
.footerTop__subscribeTitle {
  font-size: 24px;
  letter-spacing: 0.6px;
}
.footerTop__subscribeSubtitle {
  margin-top: 10px;
  font-size: 14px;
  letter-spacing: 0.35px;
}
.footerTop__subscribeForm {
  margin-top: 35px;
  border-radius: 23px;
  height: 46px;
  overflow: hidden;
}
.footerTop__subscribeBox {
  background-color: #e1e1e1;
  height: 46px;
  border: none;
  padding: 0 28px;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}
.footerTop__subscribeBtn {
  background-color: #f16d7f;
  height: 46px;
  border: none;
  padding: 0 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

.footerMid {
  margin-top: 109px;
  height: 349px;
  display: flex;
  justify-content: space-between;
}
.footerMid__desc {
  width: 490px;
}
.footerMid__text {
  margin-top: 30px;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}
.footerMid__linksHeader {
  margin-bottom: 45px;
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.45px;
  text-transform: uppercase;
}
.footerMid__link {
  margin-top: 30px;
  display: block;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.footerBottom {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6e6e6;
}
.footerBottom__copyright {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.4px;
}
.footerBottom__social {
  display: flex;
}
.footerBottom__socialLink {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  display: block;
  text-align: center;
  line-height: 32px;
  color: #b2b2b2;
  background: #ffffff;
}
.footerBottom__socialLink:hover {
  color: #f7f7f8;
  background: #f16d7f;
}
