.ME {
  margin-top: 16px;
  margin-bottom: 8px;
}

MI .Mi {
  position: relative;
  width: 100%;
  height: 2px;
  background: #ccdbeb;
}

.MI, .MI .Mi {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.MI .Mi:before {
  left: -8px;
  border-radius: 2px 0 0 2px;
}

.MI .Mi:after, .MI .Mi:before {
  display: block;
  content: " ";
  position: absolute;
  z-index: 1;
  width: 8px;
  height: 100%;
  background: #ccdbeb;
}

.MI .Mi .MJ, .MI .Mi .Mj {
  position: absolute;
  background: #0073e6;
}

.MI .Mi .MJ {
  height: 100%;
}

.MI .Mi .Mj {
  z-index: 2;
  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: -8px;
  top: 50%;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: background 0.3s, -webkit-transform 0.2s;
  transition: background 0.3s, -webkit-transform 0.2s;
  transition: transform 0.2s, background 0.3s;
  transition: transform 0.2s, background 0.3s, -webkit-transform 0.2s;
}

.MI .Mi .Mj {
  z-index: 2;
  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: -8px;
  top: 50%;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: background 0.3s, -webkit-transform 0.2s;
  transition: background 0.3s, -webkit-transform 0.2s;
  transition: transform 0.2s, background 0.3s;
  transition: transform 0.2s, background 0.3s, -webkit-transform 0.2s;
}

.MI .Mi:after {
  right: -8px;
  border-radius: 0 2px 2px 0;
}

.MI .Mi:after, .MI .Mi:before {
  display: block;
  content: " ";
  position: absolute;
  z-index: 1;
  width: 8px;
  height: 100%;
  background: #ccdbeb;
}

body {
  font-weight: 400;
  font-family: "PT Sans", Arial, sans-serif;
  background: #2a3e45;
}

.filter-range {
  width: 330px;
  margin: 50px auto;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

/*# sourceMappingURL=test.css.map */
