.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px auto;
    aside {
        display: flex;
        flex-direction: column;
        width: 250px;
        user-select: none;
        >input {
            display: none;
        }
        >label {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            color: #6f6e6e;
            a {
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                padding: 15px 0 15px 15px;
                border-left: 5px solid #ef5b70;
                border-bottom: 1px solid #ebebeb;
                margin-bottom: 12px;
                i {
                    margin-right: 10px;
                    font-size: 16px;
                    transition: all 0.3s ease-in-out;
                }
            }
            &:hover {
                color: #ef5b70;
            }
        }
        div {
            height: 0;
            overflow: hidden;
            flex-direction: column;
            padding-left: 17px;
            transition: all 0.5s ease-in-out;
            label {
                text-transform: capitalize;
                font-size: 14px;
                color: #6f6e6e;
                cursor: pointer;
                a {
                    display: inline-block;
                    line-height: 30px;
                    width: 80%;
                    cursor: pointer;
                    &:hover {
                        color: #ef5b70;
                    }
                }
            }
        }
    }
    article {
        display: flex;
        flex-direction: column;
        width: 75%;
        .top-filter {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 40px;
            .filter-block {
                width: 262px;
                h3 {
                    font-size: 14px;
                    font-weight: bold;
                    color: #6f6e6e;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
                a {
                    font-size: 14px;
                    line-height: 25px;
                    text-transform: capitalize;
                    color: #6f6e6e;
                    &:hover {
                        color: #ef5b70;
                    }
                }
                .filter-links {
                    font-size: 0;
                }
                .filter-links>a::after {
                    content: "|";
                    display: inline-block;
                    color: #dfdfdf;
                    margin: 0 10px;
                }
                .filter-links>a:last-child::after {
                    display: none;
                }
                .filter-chbx {
                    label {
                        font-size: 14px;
                        line-height: 25px;
                        color: #6f6e6e;
                        cursor: pointer;
                        text-transform: uppercase;
                        margin-right: 15px;
                        user-select: none;
                        &:hover {
                            color: #ef5b70;
                        }
                    }
                }
                .filter-range {
                    input {
                        width: 100%;
                    }
                    .range {
                        display: flex;
                        justify-content: space-between;
                        p {
                            font-size: 14px;
                            line-height: 26px;
                            color: #6f6e6e;
                        }
                    }
                }
            }
        }
        .bot-filter {
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            background-color: #f3f3f3;
            padding: 10px;
            margin-bottom: 48px;
            &__block {
                background-color: #ffffff;
                text-transform: capitalize;
                color: #6f6e6e;
                padding: 0 13px;
                margin-right: 20px;
                label {
                    font-size: 14px;
                    padding-right: 10px;
                    user-select: none;
                }
                select {
                    outline: none;
                    border: none;
                    background-color: white;
                    border-left: 1px solid #ebebeb;
                    color: #6f6e6e;
                    text-transform: capitalize;
                    padding: 8px 10px;
                    &:hover {
                        color: #222224;
                    }
                }
            }
        }
        .catalog-product-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-between;
        }
        .catalog-nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            &__number {
                display: flex;
                justify-content: space-between;
                width: 260px;
                padding: 15px;
                border-radius: 3px;
                border: solid 1px #ebebeb;
                a,
                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: #c4c4c4;
                    i {
                        margin: 0;
                    }
                    &:hover {
                        color: #ef5b70;
                    }
                }
            }
            >a {
                text-transform: capitalize;
                color: #ef5b70;
                padding: 15px 50px;
                border-radius: 3px;
                border: 1px solid #ef5b70;
                &:hover {
                    background-color: #ef5b70;
                    color: #ffffff;
                }
            }
        }
    }
}

aside input:checked+label+div {
    display: flex;
    height: 420px;
}

aside input:checked+label i {
    transform: rotate(180deg);
}

//advantage===============================================================================
.advantage-wrap {
    background-color: #222224;
    .advantage {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 100px 0;
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;
            img {
                margin-bottom: 32px;
            }
            h3 {
                font-size: 20px;
                letter-spacing: 0.5px;
                color: #fbfbfb;
                margin-bottom: 17px;
            }
            p {
                font-size: 14px;
                font-weight: 300;
                line-height: 24px;
                letter-spacing: 0.35px;
                text-align: center;
                color: #fbfbfb;
            }
        }
    }
}